@page
@model IndexModel

<h1>Wybierz quiz</h1>

<ul>
    @foreach (var quiz in Model.Quizzes)
    {
        <li>
            <a asp-page="Solve" asp-route-quizId="@quiz.Id">
                @quiz.Title
            </a>
        </li>
    }
</ul>
